body {
    text-align: center;
    background-color:rgb(249, 251, 252);
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}
#design{
    font-family: Monoton;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
.container{
    border: 5px outset lightblue;
    padding: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.container:hover{
    background-color: lightblue;
    color: rgb(22, 22, 22);
}

